.recipe-container {
    /* max-width: 800px; */
    margin: 20px auto;
    /* padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.recipe-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.recipe-container img {
    max-width: 300px;
}
.recipe-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recipe-container h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ingredients-list, .instructions-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ingredients-list li, .instructions-list li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.ingredients-list li:last-child, .instructions-list li:last-child {
    border-bottom: none;
}