.recipe-container {
    margin: 20px auto;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.recipe-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.recipe-container img {
    max-width: 300px;
}
.recipe-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recipe-container h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ingredients-list, .instructions-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ingredients-list li, .instructions-list li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.ingredients-list li:last-child, .instructions-list li:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {
    .recipe-grid {
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 15px; 
    }

    .recipe-card {
        padding: 15px; 
    }

    .recipe-container img {
        max-width: 250px; 
    }

    .recipe-container h1 {
        font-size: 22px; 
    }

    .recipe-container h2 {
        font-size: 16px; 
    }
}

@media (max-width: 480px) {
    .recipe-grid {
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 10px; 
    }

    .recipe-card {
        padding: 10px; 
    }

    .recipe-container img {
        max-width: 200px; 
    }

    .recipe-container h1 {
        font-size: 20px; 
    }

    .recipe-container h2 {
        font-size: 14px; 
    }
}


@media (max-width: 320px) {
    .recipe-grid {
        grid-gap: 8px; 
    }

    .recipe-card {
        padding: 8px; 
    }

    .recipe-container img {
        max-width: 150px; 
    }

    .recipe-container h1 {
        font-size: 18px; 
    }

    .recipe-container h2 {
        font-size: 12px; 
    }
}