.view-recipe-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.view-recipe-title {
    text-align: center;
    margin-bottom: 20px;
}

.view-recipe-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.view-recipe-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.view-recipe-name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.view-recipe-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.view-recipe-ingredients, .view-recipe-instructions {
    font-size: 16px;
    margin-bottom: 10px;
}

.view-recipe-no-recipes {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .view-recipe-container {
        max-width: 90%; 
        margin: 30px auto;
        padding: 15px;
    }

    .view-recipe-title {
        font-size: 22px; 
    }

    .view-recipe-item {
        padding: 15px; 
    }

    .view-recipe-name {
        font-size: 22px; 
    }

    .view-recipe-description {
        font-size: 16px; 
    }

    .view-recipe-ingredients, .view-recipe-instructions {
        font-size: 14px; 
    }

    .view-recipe-no-recipes {
        font-size: 16px; 
    }
}


@media (max-width: 480px) {
    .view-recipe-container {
        max-width: 95%; 
        margin: 20px auto;
        padding: 10px;
    }

    .view-recipe-title {
        font-size: 20px; 
    }

    .view-recipe-item {
        padding: 10px; 
    }

    .view-recipe-name {
        font-size: 20px; 
    }

    .view-recipe-description {
        font-size: 14px; 
    }

    .view-recipe-ingredients, .view-recipe-instructions {
        font-size: 12px; 
    }

    .view-recipe-no-recipes {
        font-size: 14px; 
    }
}


@media (max-width: 320px) {
    .view-recipe-container {
        max-width: 100%; 
        margin: 15px auto;
        padding: 8px;
    }

    .view-recipe-title {
        font-size: 18px; 
    }

    .view-recipe-item {
        padding: 8px; 
    }

    .view-recipe-name {
        font-size: 18px; 
    }

    .view-recipe-description {
        font-size: 12px; 
    }

    .view-recipe-ingredients, .view-recipe-instructions {
        font-size: 11px; 
    }

    .view-recipe-no-recipes {
        font-size: 12px; 
    }
}